.design {
    .img-wrapp {
        position: relative;

        img {
            width: 100%;
            z-index: -1;
        }

        .img__title {
            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 144px;
            line-height: 169px;   
            text-align: center;
            color: #000000;
        }
    }

    .price {
        padding-top: 180px;
        padding-bottom: 215px;
    }
}

