.blog {
    &__container{
        border-bottom: 1px solid  #BDBDBD;
        padding-bottom: 15px;
    }
    &__list {
        max-width: 1500px;
        margin: 0 auto;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        margin-top: 48px;
        margin-bottom: 48px;
        padding-right: 38px;
        padding-left: 38px;
        max-width: 671px;
    }

    &__date {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 147.69%;
        color: #4F4F4F;
    }

    &__title {
        margin-top: 11px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 147.69%;
        color: #000000;
    }

    &__desc {
        margin-top: 22px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 147.69%;
        color: #4F4F4F;
    }




}

.blog-item__btn {
    margin-top: 22px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding: 0.7rem 1.8rem;
}

.blog_btn {
    display: flex;
    align-items: center;
    padding: 1.5rem 2.8rem;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-right: 40px;

    svg {
        margin-left: 30px;
    }
    &-wrapper{
        display: flex;
    flex-direction: row-reverse;
    border: none;
    }

}